<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- Le styles -->
    @Styles.Render( "~/Content/css")
    <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet">   
    
    <style>
        body
        {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header">                    
                    @{Html.RenderPartial("_AdminTopMenu");}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                This is a section red a section
            </div>
            <div class="col-xs-9">
                @if (TempData["message"] != null) {
                    <div class="Message">
                        @TempData["message"]
                    </div>                    
                }
                @RenderBody()                

            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>

</html>
