@model Mejenguitas_UI.Models.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inicio de Sesión</title>
    <link href="~/Content/Site.css" rel="stylesheet">
</head>
<body>
    <h4>Por favor inicie sesión para acceder al area de Administración</h4>

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        <p>
            @Html.DisplayNameFor(model => model.UserName)
            <br />
            @Html.EditorFor(model => model.UserName)
        </p>
        <p>
            @Html.DisplayNameFor(model => model.Password)
            <br />
            @Html.EditorFor(model => model.Password)
        </p>
        <p>
            <input type="submit" value="Iniciar Sesión" />
        </p>
    }
</body>
</html>
