@model Mejenguitas_UI.Models.JuegoJugadorViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="col-xs-12">
        <div id="divfield">
            <img id="imgField" src="~/Content/images/schematic-green-soccer-field.jpg" />
        </div>
        @foreach (var j in @Model.JugadoresInscritos)
        {            
            <div class="player" data-Equipo="@j.Equipo" data-Numero="@j.Numero" data-Puesto="@j.Puesto"  data-EsInvitado= "@j.EsInvitado">
                <img id="@j.IdJugador "  src="@Url.Action("ObtenerImagen", new { idJugador = @j.IdJugador, esInvitado = @j.EsInvitado })" HEIGHT="60" WIDTH="60" BORDER="0" />
                @if (@j.EsInvitado)
                {
                    <p>Invitado</p>
                }
            </div>                 
        }
        <div class="disponible equipoA" id="1P" data-equipo="1" data-puesto="P">
        </div>
        <div class="disponible equipoA" id="1DF1" data-equipo="1" data-puesto="DF1">
        </div>
        <div class="disponible equipoA" id="1DF2" data-equipo="1" data-puesto="DF2">
        </div>
        <div class="disponible equipoA" id="1D1" data-equipo="1" data-puesto="D1">
        </div>
        <div class="disponible equipoA" id="1D2" data-equipo="1" data-puesto="D2">
        </div>
        <div class="disponible equipoB" id="2P" data-equipo="2" data-puesto="P">
        </div>
        <div class="disponible equipoB" id="2DF1" data-equipo="2" data-puesto="DF1">
        </div>
        <div class="disponible equipoB" id="2DF2" data-equipo="2" data-puesto="DF2">
        </div>
        <div class="disponible equipoB" id="2D1" data-equipo="2" data-puesto="D1">
        </div>
        <div class="disponible equipoB" id="2D2" data-equipo="2" data-puesto="D2">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <div class="jugadoresBancaA">
                <div class="disponibleBanca equipoA " id="1B" data-equipo="1" data-puesto="B">
                </div>
                <div class="disponibleBanca equipoA banca" id="2B" data-equipo="1" data-puesto="B">
                </div>
                <div class="disponibleBanca equipoA banca" id="3B" data-equipo="1" data-puesto="B">
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            @if (@Model.IdJugador != 0)
            {    
                <div class="jugadoresDisponibles">
                    @if (@Model.EstaInscrito == false)
                    {
                        <div class="myPlayer"  data-idJuego="@Model.Juego.Id" data-idJugador="@Model.IdJugador">
                            <img id="@Model.IdJugador " src="@Url.Action("ObtenerImagen", new { idJugador = @Model.IdJugador, esInvitado = false })" HEIGHT="60" WIDTH="60" BORDER="0" style="position:relative"/>
                        </div>
                    }
                    <div>
                        <div id="myInvitado1" class="invitado" data-idJuego="@Model.Juego.Id" data-idJugador="@Model.IdJugador">
                        </div>
                        <div id="myInvitado2"  class="invitado" data-idJuego="@Model.Juego.Id" data-idJugador="@Model.IdJugador">
                        </div>
                        <div id="myInvitado3"  class="invitado" data-idJuego="@Model.Juego.Id" data-idJugador="@Model.IdJugador">
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col-xs-4">
            <div class="jugadoresBancaB">
                <div class="disponibleBanca equipoB " id="1B" data-equipo="2" data-puesto="B">
                </div>
                <div class="disponibleBanca equipoB banca" id="2B" data-equipo="2" data-puesto="B">
                </div>
                <div class="disponibleBanca equipoB banca" id="3B" data-equipo="2" data-puesto="B">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
