<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- Le styles -->
    @Styles.Render("~/Content/css")
    <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet">

    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
</head>
<body>
    <div class="container ">
        <div class="row page-header">
            <div class="col-xs-9 ">
                @{Html.RenderAction("List", "Galeria");}
            </div>
            <div class="col-xs-3">
                <div class="row">
                    <div class="pull-right">
                        @if (Request.IsAuthenticated)
                        {                                                     
                            @Html.ActionLink("Logout", "LogOut", new { controller = "Login" })
                        }
                        else
                        {
                            @Html.ActionLink("Login", "LoginJugador", new { controller = "Login" })
                        }
                        @Html.ActionLink("Admin", "List", new { area = "Administration", controller = "Juego", admin = true })
                    </div>
                </div>
                <div class="row">
                    <div class="pull-right">
                        @if (@Session["nombreJugador"] != null)
                        { 
                            <p>
                                <b>Bienvenido @Session["nombreJugador"]</b>
                            </p>                                                  
                        }
                        @if (@Session["idJugador"] != null)
                        { 
                            <p class="pull-right">
                                <img width="100" height="100" src="@Url.Action("ObtenerImagen", "Jugador", new { idJugador = @Session["idJugador"] })"/>
                            </p>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div style="height:588px; width:940px">
                @RenderBody()
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                @{Html.RenderAction("List", "Juego");}
            </div>
            <div class="col-xs-7">
                List of names by 
            </div>
            <div class="col-xs-3">
                @{Html.RenderAction("List", "Comentario");}
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/Site")

    @RenderSection("scripts", required: false)
</body>

</html>
