@model IQueryable<Mejenguitas.Domain.Entities.Juego>

@{
    Layout = "~/Areas/Administration/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Lista de Juegos";
}
<div>
    <table>
        <tbody>
            <tr>
                <th>Fecha</th>
                <th>Lugar</th>
                <th>Resultado</th>
                <th>Equipo Ganador</th>
                <td>Actions</td>
            </tr>
            @foreach (var juego in @Model)
            {                    
                <tr>
                    <td>
                        @Html.ActionLink(juego.Fecha.ToString(), "Edit", juego)
                    </td>
                    <td>
                        @juego.Lugar
                    </td>
                    <td>
                        @juego.Resultado
                    </td>
                    <td>
                        @juego.EquipoGanador
                    </td>

                    <td>
                        @Html.ActionLink("Eliminar", "Delete", "Juego", new { juego.Id }, null)
                    </td>
                </tr>
                    
            }

        </tbody>
    </table>
    @Html.ActionLink("Crear", "Create")

</div>
