@model IQueryable<Mejenguitas.Domain.Entities.Juego>

@{
    Layout = "~/Areas/Administration/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Lista de Juegos";
}

@if (@Model.Count() > 0)
    {
        foreach (var juego in @Model)
        {          
    <div class="container">
        <div class="row">
            <div class="cl-xs-1">

                <h4>@Html.ActionLink(juego.Fecha.ToString(), "Edit", juego)</h4>
                <h3>@juego.Resultado</h3>

            </div>
            <div class="cl-xs-1">
                @juego.Lugar
                @Html.ActionLink(" ", "Delete", "Juego", new { juego.Id }, null)

                @*@juego.EquipoGanador*@
            </div>
        </div>

        </div>
        }
    }
    else
    {
        <div class="cl-xs-12">
            There is not games.!
        </div>

        }
    @Html.ActionLink("Crear", "Create")

    </div>
