@model Mejenguitas.Domain.Entities.Jugador
@{
    Layout = "~/Areas/Administration/Views/Shared/_AdminLayout.cshtml";    
}
@using (Html.BeginForm("Edit", "Jugador", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <fieldset>
        <legend>Jugador</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NickName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NickName)
            @Html.ValidationMessageFor(model => model.NickName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Correo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Correo)
            @Html.ValidationMessageFor(model => model.Correo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Contrasenna)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Contrasenna)
            @Html.ValidationMessageFor(model => model.Contrasenna)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Telefono)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Telefono)
            @Html.ValidationMessageFor(model => model.Telefono)
        </div>

        <div class="editor-field">
            @if (@Model.Avatar == null)
            { 
                @:None
            }
            else
            {
                <img width="150" height="150" src="@Url.Action("ObtenerImagen", "Jugador", new { id = Model.Id })" />
            }
            <div>Upload new image:
                <input type="file" name="Image" /></div>
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "List")
</div>
