@model Mejenguitas.Domain.Entities.Jugador
@{
    Layout = "~/Areas/Administration/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Jugador";    
}
<div class="row">
    @using (Html.BeginForm("Edit", "Jugador", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {   
        @Html.ValidationSummary()    
        <dl class="dl-horizontal">
            @if (@Model.Avatar != null)
            {
                <dt></dt>                
                <dd>
                    <img width="150" height="150" src="@Url.Action("ObtenerImagen", "Jugador", new { id = Model.Id })" />
                </dd>
            }
            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd>
                @Html.EditorFor(model => model.Nombre)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.NickName)
            </dt>
            <dd>
                @Html.EditorFor(model => model.NickName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Correo)
            </dt>
            <dd>
                @Html.EditorFor(model => model.Correo)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Contrasenna)
            </dt>
            <dd>
                @Html.EditorFor(model => model.Contrasenna)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Telefono)
            </dt>
            <dd>
                @Html.EditorFor(model => model.Telefono)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Avatar)
            </dt>
            <dd>
                <input type="file" name="Image" />
            </dd>
        </dl>
        <p class="pull-right">
            @Html.ActionLink(" ", "List", null, new { @class = "glyphicon glyphicon-arrow-left", @title = "Volver" })
            
            <a href="#"  class="glyphicon glyphicon-floppy-disk" onclick="$(this).closest('form').submit()" title="Guardar"> </a>
        </p>        
    }
</div>


