@model IQueryable<Mejenguitas.Domain.Entities.Jugador>
@{
    Layout = "~/Areas/Administration/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Lista de Jugadores";
}
<div class="row">
    @foreach (var jugador in @Model)
    {
        <div class="row">
            <div class="col-xs-2">
                <img width="100" height="100" src="@Url.Action("ObtenerImagen", "Jugador", new { jugador.Id })"/><br /><br />                
                @Html.ActionLink(" ", "Edit", new { id = jugador.Id }, new { @class = "glyphicon glyphicon-pencil" , @title="Editar" })
                @Html.ActionLink(" ", "Delete", new { jugador.Id }, new { @class = "glyphicon glyphicon-remove-circle" , @title="Eliminar" })

            </div>
            <div class="col-xs-10">
                <p>
                    @jugador.Nombre
                </p>
                <p>
                    @jugador.NickName
                </p>
                <p>
                    @jugador.Correo
                </p>
                @if (jugador.Telefono != null) 
                { 
                    <p>
                        @jugador.Telefono
                    </p>    
                }                
            </div>
        </div>
        <hr />
    }
    <div class="pull-right">
        @Html.ActionLink(" ", "Create", null, new { @class = "glyphicon glyphicon-plus-sign" , @title="Crear" })
    </div>
</div>




